/* FLEX TOOLS */
.flex{
  display: flex;
}
.flex-geral{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-column{
  flex-direction: column;
}

/* ------------------ */
/*         CORES
Cinza claro - rgb(61, 61, 61)
Cinza escuro - rgb(46, 46, 46)
/* ------------------ */
/*                     */
/*BODY, HEADER E FOOTER*/
/*                     */
/* ------------------- */
*{

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
}
body{
  margin: 0;
  background-color: rgb(61, 61, 61);
  color: white;
  min-height: 1400px;
}

.gap0{
  gap: 0;
}

header, footer{
  background-color: rgb(46, 46, 46);
  color: ghostwhite;
  padding: 10px;
  border-bottom: 10px;
}


header > div > h1{
  margin-bottom: 26px;
}
header > div > h3{
  margin-top: 50px;
  color: ghostwhite;
  font-size: xx-small;
}

h1{
  font-size: 40px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* MAIN START */
/* block card section */

.block-1{
  justify-content: center;
  align-items: center;
  width: 75%;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 1000px;

  border: 0;
  border-top: 5px;
  border-color: rgb(97, 97, 97);
  border-style:solid;
}

.block-1 > div > h1{
  margin-top: 0;
}

.block-text{
  width: 75%;
}

.blocks{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block-img{
  min-width: 500px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}



.footer-flex-box{
  justify-content: space-around;
}

.footer-item{
  color: ghostwhite;
  font-size: xx-small;
}



/*
AJUSTAR IMAGEM EXEMPLO:
.img-2{
  object-position: 0% 80%;
}

*/

#pexels-link{
  padding: 0;
  margin: 0;
  display: inline;
  background-color: transparent;
  text-decoration: underline;
}

a:link, a:visited {

  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30%;
}

a:hover, a:active {
  background-color: white;
  color: black;
}